<div class="col-sm-6">
  <img src="images/graph.png" alt="">
</div>
<div class="col-sm-6">
  <h1>Subscribe!</h1>
  <p>Enter your email if you're interested to learn more:</p>
  <form action="/subscribe" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="email" placeholder="Email">
    <input type="checkbox" name="vip" "
    pattern="[0-9]{5}">
<label for="checkbox">Are you vip?</label>

    <input type="submit" name="submit" >
  </form>
</div>
