<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
<link rel="stylesheet" type="text/css"   href="/css/navigation.css">
<link rel="stylesheet" type="text/css"   href="/css/footer.css">
    <title></title>
  </head>
  <body>
    <%- include ('partials/navigation') -%>

        <%- body %>
        <%- include ('partials/footer') -%>


  </body>
</html>
